In [74]:
import os
import numpy as np
import pandas as pd

In [ ]:
with open("prob22names.txt", "r") as f:
    lines = f.read().splitlines()
    print(lines)

In [29]:
file = open("prob22names.txt", "r")
names = file.read().replace('"', '')
file.close()


names_list = names.split(sep=",")
names_list.sort()

# These names appear to be non-duplicating, so can use the index to allocate scores

TypeError: index expected at least 1 argument, got 0

In [66]:
# Converting these to a numpy array
names_np = np.array(names_list)

print(names_np)
print(type(names_np))

names_np.append(

# Want to map A to 1, Z to 26

['AARON' 'ABBEY' 'ABBIE' ... 'ZULA' 'ZULEMA' 'ZULMA']
<class 'numpy.ndarray'>

In [41]:
ord("A")

65

In [109]:
#word = names_np[0]
names_scores = pd.DataFrame()
for word in names_np:
    # print(word)
    word_score = 0
    for letter in word:
        letter_score = ord(letter) - 64 
        word_score = word_score + letter_score#
    #     print(letter, letter_score, word_score)
    # print(word_score)
    #
    word_row = pd.DataFrame([[word, word_score]])
    names_scores = pd.concat([names_scores, word_row])

names_scores = names_scores.reset_index()
names_scores['ranking'] = names_scores.index + 1
names_scores['total_score'] = names_scores[1] * names_scores['ranking']
print(names_scores)

print("Total namescore is: " + str(sum(names_scores['total_score'])))

      index        0   1  ranking  total_score
0         0    AARON  49        1           49
1         0    ABBEY  35        2           70
2         0    ABBIE  19        3           57
3         0     ABBY  30        4          120
4         0    ABDUL  40        5          200
...     ...      ...  ..      ...          ...
5158      0     ZORA  60     5159       309540
5159      0  ZORAIDA  74     5160       381840
5160      0     ZULA  60     5161       309660
5161      0   ZULEMA  78     5162       402636
5162      0    ZULMA  73     5163       376899

[5163 rows x 5 columns]
Total namescore is: 871198282

In [83]:
pd.DataFrame([["bob", 32]])

     0   1
0  bob  32